@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #201B2C;
    width: 1440px;
    height: 1024px;
}

.container{
    position: absolute;
    width: 1135px;
    height: 976px;
    left: 281px;
    top: 24px;
    background: #FAFAFA;
    border-radius: 20px;
}

.container > h1{
    position: absolute;
    left: 52px;
    top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    color: rgba(11, 11, 11, 0.6);
}

.box{
    position: absolute;
    width: 899px;
    height: 532px;
    left: 118px;
    top: 232px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.box > h2{
    position: absolute;
    left: 288px;
    top: 67px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: rgba(11, 11, 11, 0.75);
}

.box > img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 292px;
    top: 124px;
    align-items: center;
}

.box > p{
    position: absolute;
    width: 294px;
    height: 46px;
    left: 291px;
    top: 448px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.7);
}