<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base3.css">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>menu dashboard</title>
</head>
<body>
    <section class="navegation">
        <img src="/static/assets/img/logotipo.png" alt="logo study flow">
        <nav class="menu">
            <ul>
                <li><img class="icon" src="/static/assets/img/Vector.png" alt="imagem"><a href="/">Meu Flow</a></li>
                <li><img class="icon" src="/static/assets/img/book-alt 1.png" alt="imagem"><a href="/assunto">Assuntos</a></li>
                <li><img class="icon" src="/static/assets/img/bell 1.png" alt="imagem"><a href="#">Lembretes</a></li>
                <li><img class="icon" src="/static/assets/img/comment-alt 1.png" alt="imagem"><a href="/sugestoes2">Sugestões</a></li>
                <li><img class="icon" src="/static/assets/img/user 1.png" alt="imagem"><a href="#">Perfil</a></li>
                <li class="sair"><img class="icon" src="/static/assets/img/exit 1.png" alt="imagem"><a href="{{url_for('usuarios.logoff')}}">Sair</a></li>
            </ul>
        </nav>
        <div class="user">
            <img src="/static/assets/img/image 1.png" alt="foto do usuario">
            <p class="nome-user">{{current_user.nome}}</p>
            <a href="#">{{current_user.email}}</a>
        </div>
    </section>

   <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>