<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon-16x16.png">
    <title>Document</title>
</head>
<body>
    {% extends 'base3.html' %}
    {% block conteudo %}
      <section class="container">
          <h1>Excluir Assunto</h1>
          <div class="box">
            <img src="/static/assets/img/yes-or-no-animate (1).svg" alt="imagem">
            <p> Você tem certeza que deseja excluir o ciclo <span style="color: #BA68C8;;">{{ciclo.nome}}</span> do usuário <span style="color: #BA68C8;;">{{ciclo.usuario.nome}}</span>?</p>
            <form method='post' action='/ciclo/delete/{{ciclo.id}}'>
              <input type="submit" value="Sim">
            </form>
            <a href="/materia">Cancelar</a>
          </div>
      </section>
    {% endblock%}
</body>
</html>