<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/logotipo.png">
    <link rel="stylesheet" href="/static/css/ciclo_create.css">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon-16x16.png">
    <title>Cadastro do ciclo</title>
</head>
<body>
  {% extends 'base3.html' %}
   {% block conteudo %}
      <section class="container">
          <div class="box-form">
              <form action="/ciclo/create" method="post">
                  <div class="esquerda">
                      <img src="img/Creation process-bro (1) 2 (1).png" alt="imagem form">
                  </div>
                  <div class="direita">
                      <h2>Cadastre Seu <span>Ciclo!</span></h2>
                      <div class="textfield">
                          <label for="materia">Nome</label>
                          <input type="text" id="nome" name="nome" placeholder="Insira o nome do assunto aqui">
                      </div>
                      <div class="textfield">
                          <label for="atividade">Duração</label>
                          <input type="time" id="duracao" name="duracao" placeholder="Insira uma breve descrição aqui">
                      </div>
                    
                  <input class="btn-cadastro" type="submit" value="seguir">
              </form>
          </div>
      </section>
   {% endblock%}
</body>
</html>