<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/landingpage.css">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon-16x16.png">
    <title>Study Flow</title>
</head>
<body>
  {%extends 'base2.html'%}
  {%block conteudo%}
    <div class="tudo">
        <div class="esquerda">
            <h1>Experimente construir <span>o seu ciclo!</span></h1>
            <p>O ciclo de estudos é uma técnica de estudo utilizada para a melhoria da sua aprendizagem e gestão de tempo. Com o StudyFlow, você poderá ter acesso a um ciclo produzido especialmente para os seus mais diversos assuntos.</p>
            <div class="saibamais"><a href="#">Saiba mais</a></div>
        </div>
        <div class="direita">
            <img src="/static/assets/mulher-estudando.png" alt="Mulher sentada em uma mesa estudando">
        </div>
        <img class="linha" src="/static/assets/Line 8linha.png" alt="linha">
    </div>

  {%endblock%}
</body>
</html>