<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon-16x16.png">
  <title>Study-aluno</title>
</head>
<body>
  <main>
    {%block conteudo%}
      <section class="main-recovery">
        <h2>Tarefas</h2>
        <ul>
      	{% for a in assunto %}
            <div class="">
                <li> 
                  <p class="p1">{{a.nome}}</p> 
                  <p class="p2">{{a.descricao}}</p>
                  <p class="p3">{{a.usuario.nome}}</p>
                    <a href="/assunto/update/{{a.id}}">editar</a> -
                    <a href="/assunto/delete/{{a.id}}">excluir</a>
                    </li> 
            </div> 
      	{% endfor %}
      	</ul>    
      </section>
    {%endblock%}
  </main>
</body>
</html>