<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/re_sugestao.css">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon-16x16.png">
    <title>Sugestão enviada</title>
</head>
<body>
   {%extends 'base3.html'%}
   {%block conteudo%}
    <section class="container">
        <h1>Sugestões</h1>
        <div class="box">
            <h2>Obrigado pela <span style="color: #CEABDF;">sugestão!</span></h2>
            <img src="/static/assets/img/Light bulb-bro 1.svg" alt="lâmpada">
            <p>Agradecemos o seu interesse de nos ver crescer :)</p>
        </div>
    </section>
   {%endblock%}
</body>
</html>