<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Study-deletar</title>
  <link rel="stylesheet" href="static/css/usuario_delete.css">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon-16x16.png">
</head>
<body>
    Você tem certeza que deseja excluir o usuário {{usuario.nome}}?
    <form method='post' action='/usuarios/delete/{{usuario.id}}'>
      <input type="submit" value="Sim">
    </form>
    <a href="/usuarios/recovery">Cancelar</a>
</body>